@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

#header {
    position: sticky;
    top: 0;
    background-color: white;
    height: 100px;
}

.content {
    max-width: 65%;
    margin: auto;
    background-color: transparent;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1 {
    margin-bottom: 3.5rem;
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.35rem;
}

#form {
    display: flex;
    justify-content: center;
}

#submit {
    margin-left: 1rem;
    background-color: #fccf03;
    padding: 10px;
    border-radius: 10px;
}

#submit:hover {
    background-color: #a18302;
    cursor: pointer;
}

#email {
    border: 1px solid slategray;
    background-color: transparent;
    border-radius: 10px;
}

li {
    list-style-type: none;
    display: inline;
    margin-left: .5rem;
}

a {
    text-decoration: none;
    color: slategray;
}

#nav-link {
    margin-left: 1.5rem;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: slategray;
}

.center-text {
    text-align: center;
}

.wrapper {
    display: flex;
    margin-bottom: 2rem;
}

.description {
    margin-left: 4rem;
}

.icon {
    max-width: 33px;
    color: #a18302;
}

p {
    font-size: 1.2rem;
}

#supply {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5rem;
    margin-top: 8rem;
}

.supply-grid {
    border: 1px solid black;
}

.grid-header {
    text-align: center;
    background-color: rgb(184, 184, 184);
    padding: .5rem;
}

.price-btn {
    background-color: #fccf03;
    padding: .5rem;
    border-radius: 10px;
    margin-top: 2rem;
    width: 7.5rem;
}

.price-btn:hover {
    background-color: #a18302;
    cursor: pointer;
}

.supply-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #supply {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 5rem;
    margin-top: 8rem;
    }
    nav {
        display: none;
    }
}